html{
    font-size: 60%;
    box-sizing: border-box;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

.calculator{
    border: 1px solid darkblue;
    background-color: #c1d7d7;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    width: 400px;
    height: 350px;
    transform: translate(-50%, -50%);
}

.display{
    width: 100%;
    font-size: 4rem;
    height: 53px;
    border: none;
    background-color: black;
    color:#fff;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

button{
    height: 47px;
    background-color: #84e1e1;
    border-radius: 2px;
    font-size: 2rem;
    color: #333;
}

button:hover{
    background-color: #2db9b9;
}

.operation{
    color: lightsteelblue;
    color: #333;
}

.clear{
    color: #333;
    background-color: #ffa64d;
}

.clear:hover{
    background-color: #ff8c1a;
}

.equalOperation{
    color: #fff;
    background-color: #ff6666;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    height: 100%
}

.equalOperation:hover{
    background-color: #ff3333;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}